In [10]:
import pandas as pd
from geopy.geocoders import Nominatim
from datetime import date

In [11]:
ds = 'CURBToolEUIDataset.xlsx'
multipliers = 'emissionsmultipliers_sample.csv'
source = 'CURB Tool'

In [25]:
def get_geocode(city):
    # initialize Nominatim API
    geolocator = Nominatim(user_agent="MyApp")
    gc = geolocator.geocode(city)
    return gc


def city_to_country(city): 
    gc = get_geocode(city)
    gc_arr = str(gc).split(", ")
    return gc_arr[-1]


def city_to_region(city): 
    gc = get_geocode(city)
    gc_arr = str(gc).split(", ")
    return gc_arr[-2]


def city_to_coords(city): 
    gc = get_geocode(city)
    return [gc.latitude, gc.longitude]


def city_to_eui(city, df):
    city_df = df.loc[df['City'] == city]
    print(city_df)
    return 

def get_citylist(df, source):
    cities = list(set(df['City'].tolist()))[:5]
    curr_date = str(date.today())
    data = {
        'City': cities,
        'Region': list(map(city_to_region, cities)),
        'Country': list(map(city_to_country, cities)),
        'Latitude': list(map(lambda city: city_to_coords(city)[0], cities)),
        'Longitude': list(map(lambda city: city_to_coords(city)[1], cities)),
        'Residential_Multiplier': [''] * len(cities),
        'Commercial_Multiplier': [''] * len(cities),
        'Source': [source] * len(cities),
        'Acquisition_Date': [curr_date] * len(cities),
        'Notes': [''] * len(cities)
    }
    cities_df = pd.DataFrame(data)
    return cities_df

In [26]:
df = pd.read_excel(ds)
multdf = pd.read_csv(multipliers)

df_top = df.head() 
df_top

,City,Country,Primary,Secondary,Tertiary,Building Type,Heating Energy,Cooling Energy,Fan Energy,Pump Energy,...,Catering,"Equipment, Lift….",Computers,Refrigeration,Home Appliances,Common Amenities,Total,Floor Area,Source,Energy Use Intensity by End Use by City (kwh/m2/year)
0,Abu Dhabi,United Arab Emirates,Homes,Low,Flats/Apartments,Res Low Flat,1.584393,42.880124,10.477154,0.0,...,0.0,0.0,0.0,0.0,34.179712,6.033327,135.392032,366.021341,DOE Model,Scale: City
1,Abu Dhabi,United Arab Emirates,Homes,Low,House,Res Low House,4.632241,46.318026,11.033556,0.0,...,0.0,0.0,0.0,0.0,21.920461,5.431969,121.503766,732.045732,DOE Model,NaN
2,Abu Dhabi,United Arab Emirates,Homes,Lower Middle,Flats/Apartments,Res Low Mid Flat,1.584393,42.880124,10.477154,0.0,...,0.0,0.0,0.0,0.0,34.179712,6.033327,135.392032,366.021341,DOE Model,NaN
3,Abu Dhabi,United Arab Emirates,Homes,Lower Middle,House,Res Low Mid House,4.632241,46.318026,11.033556,0.0,...,0.0,0.0,0.0,0.0,21.920461,5.431969,121.503766,732.045732,DOE Model,NaN
4,Abu Dhabi,United Arab Emirates,Homes,Upper Middle,Flats/Apartments,Res High Mid Flat,1.584393,42.880124,10.477154,0.0,...,0.0,0.0,0.0,0.0,34.179712,6.033327,135.392032,366.021341,DOE Model,NaN

In [27]:
multdf

,nation,state,city,residential_multiplier,commercial_multiplier
0,usa,massachusetts,boston,193.84,190.07
1,usa,michigan,chicago,194.35,223.76
2,usa,mexico,mexico city,106.03,94.93
3,usa,indonesia,bali,69.06,69.06

In [28]:
citylist = get_citylist(df, source)

In [29]:
citylist

,City,Region,Country,Latitude,Longitude,Residential_Multiplier,Commercial_Multiplier,Source,Acquisition_Date,Notes
0,Port-au-Prince,Département de l'Ouest,Ayiti,18.547327,-72.339593,,,CURB Tool,2023-09-15,
1,Kohima,797001,India,25.661876,94.101916,,,CURB Tool,2023-09-15,
2,Saint-Petersburg,Северо-Западный федеральный округ,Россия,59.938732,30.316229,,,CURB Tool,2023-09-15,
3,New York,New York,United States,40.712728,-74.006015,,,CURB Tool,2023-09-15,
4,Vijayawada,520001,India,16.508757,80.618509,,,CURB Tool,2023-09-15,